/*----------- FOOTER --------------

footer {
    color: white;
    background-color: #144212;
    padding: 1.5rem;
}

footer > .top {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #144212;
    padding: 1.5rem;
}

*/

.footer {
    background-color: #144212;
    padding: 20px;
    color: white;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .left, .footer .center, .footer .right {
    flex: 1;
    text-align: center;
}

.footer .left {
    text-align: left;
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}


  
  


  

  

  

  
